PORT = your port e.g 3000
UPLOAD_SERVICE_URL = your upload service url e.g http://localhost:3001
DB_URL = you neon db Url  or you can use another postgress platform
JWT_SECRET = your jwt secret key e.g GH!29jd@k3lP0vW2eF5sL0pR