PORT = "YOUR_PORT_NUMBER eg: 3001"
CLOUDINARY_SECRET = "YOUR_CLOUDINARY API_SECRET_KEY"
CLOUDINARY_KEY = "YOUR_CLOUDINARY API_KEY"
CLOUDINARY_CLOUD_NAME = "YOUR_CLOUDINARY CLOUD_NAME"
Kafka_Broker = "YOUR_KAFKA_BROKER_ADDRESS eg: localhost:9091"
GOOGLE_EMAIL = "YOUR_GOOGLE_EMAIL_ADDRESS"
GOOGLE_PASSWORD = "YOUR_GOOGLE_EMAIL_PASSWORD"    //this is auto generated password for google app access. not your actual password. generate it from your google account settings.